@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: black;
}

h1 {
  font-family: "PP Neue Montreal", Arial, Helvetica, sans-serif;
  /* font-size: 5.2vw; */
  font-size: 4.8vw;
  letter-spacing: -1%;
  line-height: 130%;
  font-weight: 400;
  color: white;
}

h5 {
  font-family: "PP Neue Montreal", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  font-weight: 500;
  color: white;
}

h4 {
  font-family: "PP Neue Montreal", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 2%;
  font-weight: 400;
}

h6 {
  font-family: "PP Neue Montreal", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
  font-weight: 350;
  color: white;
}

/* Add responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 10vw; /* Larger relative font size for smaller screens */
  }

  h4 {
    font-size: 20px;
  }

  h5,
  h6 {
    font-size: 16px;
  }
}
